{% extends "blog/base.html" %}
{% block content %}
<h2>Welcome, {{ user.username }}</h2>
	<article class="media content-section">
		<img class="rounded-circle article-img" src= {{ post.author.profile.image.url }}>
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
	      <small class="text-muted">{{ object.date_posted }}</small>
	      {% if object.author == user %}
	  	  	<div>
	      	  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
	      	  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
	      	</div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content|safe }}</p>
	    {% if post.image %}
		    <img class="img-thumbnail" width="304" height="236" src=" {{ post.image.url }} ">
		    {% else %}
		   	{% endif %}
	  </div>
	</article>
{% endblock content %}
